<h2>Update developer</h2>
<br>
<form [formGroup]="editForm">

  <div class="form-group">
    <label for="firstName">First Name</label>
    <!-- <input type="text" id="firstName" class="form-control" value="{{data.developer.first_name}}" required [formControl]="first_name"> -->
    <input 
    formControlName="first_name"
    id="firstName" 
    type="text" 
    [(ngModel)]="data.developer.first_name"
    class="form-control">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input 
    formControlName="last_name"
    id="lastName" 
    type="text" 
    [(ngModel)]="data.developer.last_name"
    class="form-control">
  </div>


  <div class="form-group">
    <button (click)="updateDeveloper(data.developer.id)" class="btn btn-primary">Update</button>
    <button class="btn btn-light" [routerLink]="['/developers']">Back</button>
  </div>
</form>


